/* google font import */

@import url('https://fonts.googleapis.com/css?family=Monda');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

/* outlines for testing */

/*div {
  outline: 1px rgba(255,0,0,0.1) solid;
}*/

/* tag selectors */

body {
  background-color: #262121;
  margin: 0;
}

#logo {
  display: flex;
  justify-content:center ;
  align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #c8c8c8;
  font-family: font-family: 'Adamina', serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 118px;
  line-height: 161px;

  width: 1183px;
  height: 161px;
  left: 128.5px;
  top: 102px;
}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  text-align: center;
  width: 555.75px;
  height: 295.72px;
  left: 459.05px;
  top: 373px;

  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #E7E7E7;
}

.bttn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

button{
  width: 180px;
  height: 50.81px;

  background-color: #d9d9d9;
  border-radius: 0px 29px;
}
.bttntxt{
  font-family: 'Adamina';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-align: center;

color: #000000;
}

/*firefox */
input[type = "number"] {
  -moz-appearance: textfield;
}
/* chrome, safari, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* media query */

@media only screen and (min-width: 720px) {

  #menu div {
    grid-column: auto;
    margin: 0;
  }

  #menu div:nth-child(3) {
    border: none;
    border-left: 3px solid #2A8;
    border-right: 3px solid #2A8;
  }

}
