<!DOCTYPE html>

<html>

  <head>
    
    <meta charset="utf-8">
    <meta name="description" content="24 hour food delivery. Order burgers, drinks, fries, and more!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}  {% endblock %} </title>
    <!--    <link rel="stylesheet" href="screen.css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dobscreen.css') }}"/>
    <!-- typeface-->
    <link href="https://fonts.googleapis.com/css2?family=Adamina&family=Advent+Pro:wght@300;400;500;700&family=Yellowtail&display=swap" rel="stylesheet">
    
  </head>

  <body>
       
    
    <div id="logo">
        <a href="{{ url_for('index') }}"> <img src="{{ url_for('static', filename='logo.svg') }}" width="57px" height="57px"> </a>
       </div>
  
       <div class="container-fluid"> 
       <h1 >Draw Outside of Box</h1> 
      </div>

      {% block content %} {% endblock %}

      <div id="footer">
        <p>Photos provided by Unsplash</p>
      </div>

  </body>

  </html>