{% extends 'base.html' %}

{% block title %} Draw Outside of Box {% endblock %}


{% block content %} 
     
      <div class="container">
      
       <div class="row">
         <div class="col-3"></div>
         <div class="col-6"><p class="greet">Hello {{ name }} !<br> Please enter a category for each image.</p></div>
         <div class="col-3"></div>
       </div>
      </div>

     <div class="container">
        <div class="row">
             
          <div class="col-4"></div>
          
          <div class="col-4">
            
          <form id="threeimg" action="{{ url_for('reference') }}" method="post">
            <div class="form-group1">
              <label for="image1">Image One</label>
              <input type="text" id="image1" placeholder="Human, Animal, Vegetation, Nauture, or Man-made">
            </div>

            <div class="form-group2">
              <label for="image2">Image Two</label>
              <input type="text" id="image2" placeholder="Human, Animal, Vegetation, Nauture, or Man-made">
            </div>

            <div class="form-group3">
              <label for="image1">Image One</label>
              <input type="text" id="image1" placeholder="Human, Animal, Vegetation, Nauture, or Man-made">
            </div>

            <div class="bttn">
              <input type="submit" value="Generate" >
               
            </div>
          </form>
          </div>
          
          <div class="col-4"></div>

        </div>
     </div>

     {% endblock %} 
   