<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <title>Draw Outside of Box - Reference</title>
    <meta name="description" content="24 hour food delivery. Order burgers, drinks, fries, and more!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--    <link rel="stylesheet" href="screen.css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
    <link rel="stylesheet" href="/static/screen.css" />
    <!-- typeface-->
    <link href="https://fonts.googleapis.com/css2?family=Adamina&family=Advent+Pro:wght@300;400;500;700&family=Yellowtail&display=swap" rel="stylesheet">
  </head>

  <body>
     <div id="logo">
      <a href="index.html"><img src="/static/logo.svg"> </a>
     </div>

     <div class="container">
      <h1>Draw Outside of Box</h1> 
     </div>

     

    <div class="bttn">
     <a href="generate.html"> <button> <div class="bttntxt">regenerate </div> </button> </a>
    </div>
    
     <div id="footer">
      {{ disclaimer }}
    </div>

  </body>

</html>
