{% extends 'base.html' %}

{% block title %} Draw Outside of Box {% endblock %}


{% block content %} 


    <!--poem  action: poem section gets renewed whenever page refreshed. 
     Do i use {{super}} for it? -->
     <div class="container">
        <div class="row">
            <div class="col-1"></div>

            <div class="col-3">
                <h5>Poem Title</h5> 
                <p>by John Smith</p>
            </div>

            <div class="col-6"><p class="poem"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Integer vitae aliquet eget duis nulla nibh sagittis. Neque, vel neque, 
                fusce condimentum adipiscing porta ut ullamcorper interdum. Tortor sit nam gravida 
                sed eget at risus. Ut nunc quis egestas porttitor sit nisl pulvinar quis. </p></div>

            <div class="col-2"></div>
        </div>
     </div>
      

     <!--images-->
     <div class="class" id="imageframe">

         <div class="row">
            <div class="col-12 col-xl-4 ">1</div>
            <div class="col-12 col-xl-4 ">2</div>
            <div class="col-12 col-xl-4 ">3</div>
         </div>

         <div class="row" >
            <div class="col">
                <div class="bttn-regenerate">
                  <a href="{{url_for ('generate') }} "  class="bttn">  Regenerate  </a>
                </div>
            </div>
         </div>

     </div>

{% endblock %}
